body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:300px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:30px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:306px;
  top:307px;
  width:360px;
  height:303px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:303px;
}
#u5 {
  position:absolute;
  left:2px;
  top:144px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:427px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:306px;
  top:18px;
  width:424px;
  height:239px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:239px;
}
#u9 {
  position:absolute;
  left:2px;
  top:112px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:130px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:200px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:160px;
  top:130px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
