body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:30px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:150px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:370px;
  top:150px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:400px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:280px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:280px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:190px;
  top:90px;
  width:0px;
  height:60px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:190px;
  top:90px;
  width:230px;
  height:60px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u14_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:250px;
  height:20px;
}
#u14_seg2 {
  position:absolute;
  left:220px;
  top:20px;
  width:20px;
  height:44px;
}
#u15 {
  position:absolute;
  left:65px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:190px;
  top:210px;
  width:-80px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u16_seg1 {
  position:absolute;
  left:-90px;
  top:10px;
  width:100px;
  height:20px;
}
#u16_seg2 {
  position:absolute;
  left:-90px;
  top:10px;
  width:20px;
  height:64px;
}
#u17 {
  position:absolute;
  left:-105px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:190px;
  top:210px;
  width:80px;
  height:70px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u18_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:100px;
  height:20px;
}
#u18_seg2 {
  position:absolute;
  left:70px;
  top:40px;
  width:20px;
  height:34px;
}
#u19 {
  position:absolute;
  left:-25px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:110px;
  top:340px;
  width:80px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u20_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:100px;
  height:20px;
}
#u20_seg2 {
  position:absolute;
  left:70px;
  top:10px;
  width:20px;
  height:54px;
}
#u21 {
  position:absolute;
  left:0px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:270px;
  top:340px;
  width:-80px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u22_seg1 {
  position:absolute;
  left:-90px;
  top:30px;
  width:100px;
  height:20px;
}
#u22_seg2 {
  position:absolute;
  left:-90px;
  top:30px;
  width:20px;
  height:34px;
}
#u23 {
  position:absolute;
  left:-80px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:420px;
  top:210px;
  width:-180px;
  height:220px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:234px;
}
#u24_seg1 {
  position:absolute;
  left:-184px;
  top:210px;
  width:194px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:188px;
  width:100px;
  word-wrap:break-word;
}
