body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:385px;
  top:335px;
  width:200px;
  height:170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:453px;
  top:349px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:55px;
  top:320px;
  width:200px;
  height:170px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u5 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:270px;
  top:40px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:270px;
  top:180px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:435px;
  top:405px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:105px;
  top:390px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:100px;
  width:0px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:320px;
  top:240px;
  width:-165px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u16_seg1 {
  position:absolute;
  left:-175px;
  top:20px;
  width:185px;
  height:20px;
}
#u16_seg2 {
  position:absolute;
  left:-175px;
  top:20px;
  width:20px;
  height:64px;
}
#u17 {
  position:absolute;
  left:-142px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:123px;
  top:334px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:320px;
  top:240px;
  width:165px;
  height:95px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u20_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:185px;
  height:20px;
}
#u20_seg2 {
  position:absolute;
  left:155px;
  top:50px;
  width:20px;
  height:49px;
}
#u21 {
  position:absolute;
  left:20px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:205px;
  top:420px;
  width:180px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:194px;
  height:20px;
}
#u23 {
  position:absolute;
  left:40px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:403px;
  top:44px;
  width:76px;
  height:66px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:66px;
}
#u25 {
  position:absolute;
  left:2px;
  top:25px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:489px;
  top:44px;
  width:76px;
  height:76px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u27 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:580px;
  top:44px;
  width:104px;
  height:76px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:76px;
}
#u29 {
  position:absolute;
  left:2px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:40px;
  width:220px;
  height:110px;
  font-size:20px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:110px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:710px;
  top:40px;
  width:135px;
  height:170px;
  font-size:20px;
  color:#0000CC;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:170px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:66px;
  top:970px;
  width:368px;
  height:240px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:240px;
}
#u35 {
  position:absolute;
  left:2px;
  top:112px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:72px;
  top:1238px;
  width:357px;
  height:347px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:347px;
}
#u37 {
  position:absolute;
  left:2px;
  top:166px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:464px;
  top:970px;
  width:351px;
  height:461px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:461px;
}
#u39 {
  position:absolute;
  left:2px;
  top:222px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:147px;
  top:550px;
  width:371px;
  height:359px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:359px;
}
#u41 {
  position:absolute;
  left:2px;
  top:172px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
