body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:307px;
  width:740px;
  height:176px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:176px;
}
#u1 {
  position:absolute;
  left:2px;
  top:80px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:504px;
  width:740px;
  height:176px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:176px;
}
#u3 {
  position:absolute;
  left:2px;
  top:80px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:111px;
  width:740px;
  height:176px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:176px;
}
#u5 {
  position:absolute;
  left:2px;
  top:80px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:24px;
  top:170px;
  width:100px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:365px;
  width:100px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:270px;
  top:137px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:270px;
  top:217px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:446px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:270px;
  top:330px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:270px;
  top:410px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:446px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:562px;
  width:100px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:270px;
  top:527px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:270px;
  top:607px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:80px;
  top:16px;
  width:550px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:54px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:49px;
  top:137px;
  width:50px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:49px;
  top:330px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:49px;
  top:527px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:141px;
  top:137px;
  width:116px;
  height:130px;
  font-size:20px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:130px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:141px;
  top:330px;
  width:116px;
  height:130px;
  font-size:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:130px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:141px;
  top:527px;
  width:116px;
  height:130px;
  font-size:20px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:130px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:704px;
  width:740px;
  height:176px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:176px;
}
#u39 {
  position:absolute;
  left:2px;
  top:80px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:24px;
  top:762px;
  width:100px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:270px;
  top:727px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:270px;
  top:807px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:141px;
  top:727px;
  width:116px;
  height:130px;
  font-size:20px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:130px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:49px;
  top:727px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:904px;
  width:740px;
  height:176px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:176px;
}
#u51 {
  position:absolute;
  left:2px;
  top:80px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:24px;
  top:962px;
  width:100px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:270px;
  top:927px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:270px;
  top:1007px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:141px;
  top:927px;
  width:116px;
  height:130px;
  font-size:20px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:130px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:49px;
  top:927px;
  width:50px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
