body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:530px;
  top:680px;
  width:200px;
  height:160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:598px;
  top:697px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:530px;
  top:320px;
  width:200px;
  height:200px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u5 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:598px;
  top:334px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:270px;
  top:320px;
  width:200px;
  height:520px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:520px;
}
#u9 {
  position:absolute;
  left:2px;
  top:252px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:450px;
  top:40px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:780px;
  top:530px;
  width:390px;
  height:420px;
  font-size:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:420px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:450px;
  top:180px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:580px;
  top:390px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:320px;
  top:390px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:320px;
  top:480px;
  width:100px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:750px;
  width:100px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:580px;
  top:750px;
  width:100px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:500px;
  top:100px;
  width:0px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:500px;
  top:240px;
  width:-130px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u28_seg1 {
  position:absolute;
  left:-140px;
  top:20px;
  width:150px;
  height:20px;
}
#u28_seg2 {
  position:absolute;
  left:-140px;
  top:20px;
  width:20px;
  height:64px;
}
#u29 {
  position:absolute;
  left:-125px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:320px;
  width:200px;
  height:420px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:420px;
}
#u31 {
  position:absolute;
  left:2px;
  top:202px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:390px;
  width:100px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:660px;
  width:100px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:500px;
  top:240px;
  width:-390px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u36_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u36_seg1 {
  position:absolute;
  left:-400px;
  top:0px;
  width:410px;
  height:20px;
}
#u36_seg2 {
  position:absolute;
  left:-400px;
  top:0px;
  width:20px;
  height:84px;
}
#u37 {
  position:absolute;
  left:-275px;
  top:-2px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:78px;
  top:334px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:338px;
  top:334px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:600px;
  top:18px;
  width:97px;
  height:126px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:126px;
}
#u43 {
  position:absolute;
  left:2px;
  top:55px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:721px;
  top:47px;
  width:97px;
  height:97px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u45 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:843px;
  top:37px;
  width:87px;
  height:107px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:107px;
}
#u47 {
  position:absolute;
  left:2px;
  top:46px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:26px;
  width:380px;
  height:114px;
  font-size:20px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:114px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:990px;
  top:26px;
  width:230px;
  height:204px;
  font-size:20px;
  color:#0000CC;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:204px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:6px;
  top:770px;
  width:208px;
  height:170px;
  font-size:20px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:170px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:60px;
  top:480px;
  width:100px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:320px;
  top:570px;
  width:100px;
  height:60px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u57 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:60px;
  top:570px;
  width:100px;
  height:60px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u59 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:320px;
  top:660px;
  width:100px;
  height:60px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:500px;
  top:240px;
  width:130px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u62_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u62_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:150px;
  height:20px;
}
#u62_seg2 {
  position:absolute;
  left:120px;
  top:40px;
  width:20px;
  height:44px;
}
#u63 {
  position:absolute;
  left:5px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:420px;
  top:420px;
  width:210px;
  height:260px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u64_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u64_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:20px;
  height:160px;
}
#u64_seg2 {
  position:absolute;
  left:60px;
  top:130px;
  width:160px;
  height:20px;
}
#u64_seg3 {
  position:absolute;
  left:200px;
  top:130px;
  width:20px;
  height:134px;
}
#u65 {
  position:absolute;
  left:45px;
  top:128px;
  width:100px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:420px;
  top:420px;
  width:110px;
  height:0px;
}
#u66_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:124px;
  height:20px;
}
#u67 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
