body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:721px;
  top:960px;
  width:252px;
  height:303px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:303px;
}
#u1 {
  position:absolute;
  left:2px;
  top:144px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:405px;
  top:620px;
  width:252px;
  height:303px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:303px;
}
#u3 {
  position:absolute;
  left:2px;
  top:144px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:71px;
  top:960px;
  width:252px;
  height:303px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:303px;
}
#u5 {
  position:absolute;
  left:2px;
  top:144px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:815px;
  top:986px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#0000FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:165px;
  top:986px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:147px;
  top:1056px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:147px;
  top:1162px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:481px;
  top:694px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:797px;
  top:1056px;
  width:100px;
  height:60px;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:481px;
  top:846px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:797px;
  top:1162px;
  width:100px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:499px;
  top:646px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:481px;
  top:1082px;
  width:100px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:405px;
  top:772px;
  width:-208px;
  height:188px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u26_seg0 {
  position:absolute;
  left:-218px;
  top:-10px;
  width:222px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:-218px;
  top:-10px;
  width:20px;
  height:202px;
}
#u27 {
  position:absolute;
  left:-248px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:657px;
  top:772px;
  width:190px;
  height:188px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:204px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:202px;
}
#u29 {
  position:absolute;
  left:139px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:323px;
  top:1112px;
  width:158px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:172px;
  height:20px;
}
#u31 {
  position:absolute;
  left:29px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:721px;
  top:1112px;
  width:-140px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u32_seg0 {
  position:absolute;
  left:-144px;
  top:-10px;
  width:154px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-120px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:531px;
  top:1082px;
  width:0px;
  height:-159px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF3366;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-163px;
  width:20px;
  height:173px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:-92px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:405px;
  top:1297px;
  width:252px;
  height:303px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:303px;
}
#u37 {
  position:absolute;
  left:2px;
  top:144px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:499px;
  top:1323px;
  width:65px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:481px;
  top:1393px;
  width:100px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:481px;
  top:1499px;
  width:100px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:531px;
  top:1297px;
  width:0px;
  height:-155px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u44_seg0 {
  position:absolute;
  left:-10px;
  top:-159px;
  width:20px;
  height:169px;
}
#u45 {
  position:absolute;
  left:-50px;
  top:-90px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:197px;
  top:1263px;
  width:208px;
  height:185px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u46_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:199px;
}
#u46_seg1 {
  position:absolute;
  left:-10px;
  top:175px;
  width:222px;
  height:20px;
}
#u47 {
  position:absolute;
  left:-38px;
  top:173px;
  width:100px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:18px;
  top:2114px;
  width:621px;
  height:366px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:366px;
}
#u49 {
  position:absolute;
  left:2px;
  top:175px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:481px;
  top:770px;
  width:100px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:721px;
  top:1200px;
  width:117px;
  height:131px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:131px;
}
#u53 {
  position:absolute;
  left:2px;
  top:58px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:71px;
  top:1200px;
  width:117px;
  height:131px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:131px;
}
#u55 {
  position:absolute;
  left:2px;
  top:58px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:156px;
  top:119px;
  width:200px;
  height:200px;
  font-size:72px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u57 {
  position:absolute;
  left:2px;
  top:58px;
  width:196px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:422px;
  top:119px;
  width:200px;
  height:200px;
  font-size:72px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u59 {
  position:absolute;
  left:2px;
  top:58px;
  width:196px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:688px;
  top:119px;
  width:200px;
  height:200px;
  font-size:72px;
  color:#0000CC;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u61 {
  position:absolute;
  left:2px;
  top:58px;
  width:196px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:156px;
  top:349px;
  width:200px;
  height:200px;
  font-size:72px;
  color:#008000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u63 {
  position:absolute;
  left:2px;
  top:58px;
  width:196px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:422px;
  top:349px;
  width:200px;
  height:200px;
  font-size:72px;
  color:#008000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u65 {
  position:absolute;
  left:2px;
  top:58px;
  width:196px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:247px;
  top:25px;
  width:550px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
  color:#0000CC;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:54px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:859px;
  top:1667px;
  width:231px;
  height:414px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:414px;
}
#u69 {
  position:absolute;
  left:2px;
  top:199px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:668px;
  top:2114px;
  width:426px;
  height:366px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:366px;
}
#u71 {
  position:absolute;
  left:2px;
  top:175px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:18px;
  top:1667px;
  width:286px;
  height:415px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:415px;
}
#u73 {
  position:absolute;
  left:2px;
  top:200px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:332px;
  top:1665px;
  width:232px;
  height:417px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:417px;
}
#u75 {
  position:absolute;
  left:2px;
  top:200px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:593px;
  top:1665px;
  width:237px;
  height:416px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:416px;
}
#u77 {
  position:absolute;
  left:2px;
  top:200px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:688px;
  top:349px;
  width:200px;
  height:200px;
  font-size:72px;
  color:#CC6666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u79 {
  position:absolute;
  left:2px;
  top:58px;
  width:196px;
  word-wrap:break-word;
}
