body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:40px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:240px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:100px;
  width:170px;
  height:140px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u4_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:114px;
}
#u4_seg1 {
  position:absolute;
  left:-10px;
  top:90px;
  width:190px;
  height:20px;
}
#u4_seg2 {
  position:absolute;
  left:160px;
  top:90px;
  width:20px;
  height:54px;
}
#u5 {
  position:absolute;
  left:5px;
  top:88px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:240px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:100px;
  width:-180px;
  height:140px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u8_seg1 {
  position:absolute;
  left:-190px;
  top:70px;
  width:200px;
  height:20px;
}
#u8_seg2 {
  position:absolute;
  left:-190px;
  top:70px;
  width:20px;
  height:74px;
}
#u9 {
  position:absolute;
  left:-130px;
  top:68px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:240px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:100px;
  width:0px;
  height:140px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:154px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
