body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:138px;
  top:190px;
  width:50px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:138px;
  top:20px;
  width:50px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:138px;
  top:60px;
  width:0px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u4_seg0 {
  position:absolute;
  left:-80px;
  top:-10px;
  width:84px;
  height:20px;
}
#u4_seg1 {
  position:absolute;
  left:-80px;
  top:-10px;
  width:20px;
  height:190px;
}
#u4_seg2 {
  position:absolute;
  left:-80px;
  top:160px;
  width:84px;
  height:20px;
}
#u5 {
  position:absolute;
  left:-120px;
  top:61px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:188px;
  top:230px;
  width:0px;
  height:-170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:60px;
  top:-180px;
  width:20px;
  height:190px;
}
#u6_seg2 {
  position:absolute;
  left:-4px;
  top:-180px;
  width:84px;
  height:20px;
}
#u7 {
  position:absolute;
  left:20px;
  top:-121px;
  width:100px;
  word-wrap:break-word;
}
